{
  "extends": "eslint-config-alloy/typescript-react",
  "rules": {
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "flatTernaryExpressions": true
    }],
    "typescript/class-name-casing": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react/jsx-indent-props": [true, 2],
    "react/no-unescaped-entities": 0,
    "no-useless-constructor": 0,
    "no-constant-condition": 0,
    "no-param-reassign": 0,
    "no-unused-vars": 0,
    "no-empty": 0,
    "no-undefined": 0,
    "complexity": 0,
    "no-empty-function": 0
  }
}