
.holyjs-css-responsive-container {
  width: 100%;
}

.holyjs-css-responsive-container input{
  margin-right: 10px;
}

#holyjs-css-responsive-itemA:checked,
#holyjs-css-responsive-itemB:checked,
#holyjs-css-responsive-itemC:checked,
#holyjs-css-responsive-itemD:checked ~ #holyjs-css-responsive-itemE:not(:checked) {
  counter-increment: amount;
}

.holyjs-css-responsive-price::before {
  counter-increment: amount;
  content: counter(amount);
  margin-right: 5px;
}

/******************************************/

.holyjs-css-responsive-ol {
  counter-reset: section;
  list-style-type: none;
}

.holyjs-css-responsive-li::before {
counter-increment: section;      /*Инкрементировуется только счетчик текущего уровня вложенности*/
content: counters(section,".") " ";/*Добавляем значения всех уровней вложенности, используя разделитель '.'*/
}