/*
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Bold.ttf')  format('truetype')
}
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Medium.ttf')  format('truetype')
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Light.ttf')  format('truetype')
} */




body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding: 5px 10px 5px 10px;
}